@font-face {
  font-family: "webfont";
  font-display: swap;
  src: url("./iconfont/webfont.eot"); /* IE9*/
  src: url("./iconfont/webfont.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./iconfont/webfont.woff2") format("woff2"),
    url("./iconfont/webfont.woff") format("woff"),
    /* chrome、firefox */ url("./iconfont/webfont.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("./iconfont/webfont.svg#AlibabaPuHuiTiL") format("svg"); /* iOS 4.1- */
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url("./5.jpeg");
  font-family: "webfont";
}
